<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ari K Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Home Page</h1>
    <div class="button-container">
        <a href="/"><button class="button">Home</button></a>
        <a href="/portfolio"><button class="button">Portfolio</button></a>
        <a href="/blog"><button class="button">Blog</button></a>
        <a href="/contact"><button class="button">Contact</button></a>
    </div>
    <div class = 'main-container'>
    <p>Test Paragraph</p>
    <img src="static/images/vanman.jpg" class="main-image">
    </div>
</body>
</html>